In [4]:
%pip install requests
%pip install --upgrade pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in /Users/syamkarniuppalapati/Library/Python/3.9/lib/python/site-packages (2.31.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/syamkarniuppalapati/Library/Python/3.9/lib/python/site-packages (from requests) (2024.2.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/syamkarniuppalapati/Library/Python/3.9/lib/python/site-packages (from requests) (2.2.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/syamkarniuppalapati/Library/Python/3.9/lib/python/site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/syamkarniuppalapati/Library/Python/3.9/lib/python/site-packages (from requests) (3.6)
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/syamkarniuppalapati/Library/Python/3.9/lib/python/site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/syamkarniuppalapati/Library/Python/3.9/lib/python/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/syamkarniuppalapati/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/syamkarniuppalapati/Library/Python/3.9/lib/python/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/syamkarniuppalapati/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [5]:
import os
import requests
import json
from urllib.parse import urlencode
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import re
from datetime import datetime

/Users/syamkarniuppalapati/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(
/var/folders/ss/krqqzng91_j9yfk0_bsk_sjm0000gn/T/ipykernel_2188/2667943722.py:7: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [7]:
test_city= "Chennai"
location_url='https://locator-service.api.bbci.co.uk/locations?' + urlencode({
    'api_key' : 'AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv',
    's' : test_city,
    'stack' : 'aws',
    'locale' : 'en',
    'filter' : 'international',
    'place-types' : 'settlement,airport,district',
    'a' : 'true',
    'format' : 'json'
})
location_url

'https://locator-service.api.bbci.co.uk/locations?api_key=AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv&s=Chennai&stack=aws&locale=en&filter=international&place-types=settlement%2Cairport%2Cdistrict&a=true&format=json'

In [8]:
result=requests.get(location_url).json()
result

{'response': {'results': {'results': [{'id': '1264527',
     'name': 'Chennai',
     'container': 'India',
     'containerId': 1269750,
     'language': 'en',
     'timezone': 'Asia/Kolkata',
     'country': 'IN',
     'latitude': 13.08784,
     'longitude': 80.27847,
     'placeType': 'settlement'},
    {'id': '6301127',
     'name': 'Chennai International Airport',
     'container': 'India',
     'containerId': 1269750,
     'language': 'en',
     'timezone': 'Asia/Kolkata',
     'country': 'IN',
     'latitude': 12.98833,
     'longitude': 80.16578,
     'placeType': 'airport'}],
   'totalResults': 2}}}

In [9]:
###print location id  ###
result['response']['results']['results'][0]['id']

'1264527'

Final function for getting the location id with the help of the location name or the city name

In [10]:
def getlocationid(city):
  city=city.lower()
  location_url='https://locator-service.api.bbci.co.uk/locations?' + urlencode({
    'api_key' : 'AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv',
    's' : test_city,
    'stack' : 'aws',
    'locale' : 'en',
    'filter' : 'international',
    'place-types' : 'settlement,airport,district',
    'a' : 'true',
    'format' : 'json'
})
  result=requests.get(location_url).json()
  location=result['response']['results']['results'][0]['id']
  return location

In [11]:
getlocationid("Mumbi")

'1264527'

In [12]:
url='https://www.bbc.com/weather/'+ result['response']['results']['results'][0]['id']
response=requests.get(url)

Initiating an instense with beautifulsoup

In [13]:
soup=BeautifulSoup(response.content,'html.parser')

In [14]:
daily_high_values=soup.find_all('span', attrs={'class':'wr-day-temperature__high-value'})
daily_high_values

[<span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">30°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">86°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">30°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">86°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">30°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">87°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">87°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">87°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">87°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">88°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">88°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">89°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">32°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">89°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">32°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">90°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">33°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">91°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">32°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">90°</span></span></span>]

In [15]:
daily_low_values=soup.find_all('span', attrs={'class':'wr-day-temperature__low-value'})
daily_low_values

[<span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">25°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">77°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">21°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">70°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">23°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">73°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">23°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">73°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">21°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">70°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">21°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">70°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">21°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">70°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">21°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">69°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">21°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">70°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">21°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">70°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">21°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">71°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">22°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">72°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">23°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">73°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">23°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">74°</span></span></span>]

In [16]:
daily_summary=soup.find('div', attrs={'class':'wr-day-summary'})
daily_summary

<div class="wr-day-summary"><div class="gel-wrap"><span class="">Partly cloudy and light winds</span><span class="wr-hide">Sunny and a gentle breeze</span><span class="wr-hide">Sunny and a gentle breeze</span><span class="wr-hide">Sunny intervals and a gentle breeze</span><span class="wr-hide">Sunny intervals and a gentle breeze</span><span class="wr-hide">Sunny and a gentle breeze</span><span class="wr-hide">Sunny and a gentle breeze</span><span class="wr-hide">Sunny and a gentle breeze</span><span class="wr-hide">Sunny and a gentle breeze</span><span class="wr-hide">Sunny and a gentle breeze</span><span class="wr-hide">Sunny and a gentle breeze</span><span class="wr-hide">Sunny and a gentle breeze</span><span class="wr-hide">Sunny and a moderate breeze</span><span class="wr-hide">Sunny intervals and a moderate breeze</span></div></div>

In [17]:
daily_summary.text

'Partly cloudy and light windsSunny and a gentle breezeSunny and a gentle breezeSunny intervals and a gentle breezeSunny intervals and a gentle breezeSunny and a gentle breezeSunny and a gentle breezeSunny and a gentle breezeSunny and a gentle breezeSunny and a gentle breezeSunny and a gentle breezeSunny and a gentle breezeSunny and a moderate breezeSunny intervals and a moderate breeze'

In [18]:
daily_summary_list=re.findall('[a-zA-Z][^A-Z]*',daily_summary.text) #splitting the summary part
daily_summary_list

['Partly cloudy and light winds',
 'Sunny and a gentle breeze',
 'Sunny and a gentle breeze',
 'Sunny intervals and a gentle breeze',
 'Sunny intervals and a gentle breeze',
 'Sunny and a gentle breeze',
 'Sunny and a gentle breeze',
 'Sunny and a gentle breeze',
 'Sunny and a gentle breeze',
 'Sunny and a gentle breeze',
 'Sunny and a gentle breeze',
 'Sunny and a gentle breeze',
 'Sunny and a moderate breeze',
 'Sunny intervals and a moderate breeze']

In [19]:
daily_high_values[0].text.strip()

'30° 86°'

In [20]:
daily_high_values[5].text.strip()

'31° 87°'

In [21]:
daily_high_values[3].text.strip().split()[0]

'31°'

In [22]:
daily_low_value_list=[daily_low_values[i].text.strip().split()[0] for i in range(len(daily_low_values))]
daily_low_value_list

['25°',
 '21°',
 '23°',
 '23°',
 '21°',
 '21°',
 '21°',
 '21°',
 '21°',
 '21°',
 '21°',
 '22°',
 '23°',
 '23°']

In [23]:
daily_high_value_list=[daily_high_values[i].text.strip().split()[0] for i in range(len(daily_high_values))]
daily_high_value_list

['30°',
 '30°',
 '30°',
 '31°',
 '31°',
 '31°',
 '31°',
 '31°',
 '31°',
 '32°',
 '32°',
 '33°',
 '32°']

In [25]:
datelist=pd.date_range(datetime.today(), periods=len(daily_high_values)).tolist()
datelist

[Timestamp('2024-02-11 03:06:02.350174'),
 Timestamp('2024-02-12 03:06:02.350174'),
 Timestamp('2024-02-13 03:06:02.350174'),
 Timestamp('2024-02-14 03:06:02.350174'),
 Timestamp('2024-02-15 03:06:02.350174'),
 Timestamp('2024-02-16 03:06:02.350174'),
 Timestamp('2024-02-17 03:06:02.350174'),
 Timestamp('2024-02-18 03:06:02.350174'),
 Timestamp('2024-02-19 03:06:02.350174'),
 Timestamp('2024-02-20 03:06:02.350174'),
 Timestamp('2024-02-21 03:06:02.350174'),
 Timestamp('2024-02-22 03:06:02.350174'),
 Timestamp('2024-02-23 03:06:02.350174')]

In [26]:
datelist=[datelist[i].date().strftime('%y-%m-%d') for i in range(len(datelist))]
datelist

['24-02-11',
 '24-02-12',
 '24-02-13',
 '24-02-14',
 '24-02-15',
 '24-02-16',
 '24-02-17',
 '24-02-18',
 '24-02-19',
 '24-02-20',
 '24-02-21',
 '24-02-22',
 '24-02-23']

In [27]:
zipped=zip(datelist, daily_high_value_list, daily_low_value_list, daily_summary_list)

In [28]:
df=pd.DataFrame(list(zipped),columns=['Date', 'High', 'Low', 'Summary'])

In [29]:
display(df)

        Date High  Low                              Summary
0   24-02-11  30°  25°        Partly cloudy and light winds
1   24-02-12  30°  21°            Sunny and a gentle breeze
2   24-02-13  30°  23°            Sunny and a gentle breeze
3   24-02-14  31°  23°  Sunny intervals and a gentle breeze
4   24-02-15  31°  21°  Sunny intervals and a gentle breeze
5   24-02-16  31°  21°            Sunny and a gentle breeze
6   24-02-17  31°  21°            Sunny and a gentle breeze
7   24-02-18  31°  21°            Sunny and a gentle breeze
8   24-02-19  31°  21°            Sunny and a gentle breeze
9   24-02-20  32°  21°            Sunny and a gentle breeze
10  24-02-21  32°  21°            Sunny and a gentle breeze
11  24-02-22  33°  22°            Sunny and a gentle breeze
12  24-02-23  32°  23°          Sunny and a moderate breeze

In [30]:
df.High=df.High.replace('\°','',regex=True).astype(float)
df.Low=df.Low.replace('\°','',regex=True).astype(float)

In [31]:
display(df)

        Date  High   Low                              Summary
0   24-02-11  30.0  25.0        Partly cloudy and light winds
1   24-02-12  30.0  21.0            Sunny and a gentle breeze
2   24-02-13  30.0  23.0            Sunny and a gentle breeze
3   24-02-14  31.0  23.0  Sunny intervals and a gentle breeze
4   24-02-15  31.0  21.0  Sunny intervals and a gentle breeze
5   24-02-16  31.0  21.0            Sunny and a gentle breeze
6   24-02-17  31.0  21.0            Sunny and a gentle breeze
7   24-02-18  31.0  21.0            Sunny and a gentle breeze
8   24-02-19  31.0  21.0            Sunny and a gentle breeze
9   24-02-20  32.0  21.0            Sunny and a gentle breeze
10  24-02-21  32.0  21.0            Sunny and a gentle breeze
11  24-02-22  33.0  22.0            Sunny and a gentle breeze
12  24-02-23  32.0  23.0          Sunny and a moderate breeze

In [32]:
#location=soup.find('div', attrs={'class' : 'wr-c-location'})
location=soup.find('h1', attrs={'id':'wr-location-name-id'})
location.text.split()

['Chennai', '-', 'Weather', 'warnings', 'issued']

In [33]:
filename_csv=location.text.split()[0]+'csv'
df.to_csv(filename_csv, index=None)

In [34]:
filename_xlsx=location.text.split()[0]+'xlsx'
df.to_excel(filename_xlsx)

ValueError: No engine for filetype: ''